.header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 4rem;
}

.nav-desktop,
.nav-desktop > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 2rem;
}

.features,
.company {
  position: relative;
}

.sm {
  position: absolute;
  display: none;
  padding-top: 1rem;
}

.bg {
  background-color: white;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.bg > * + * {
  margin-top: 1rem;
  width: 9ch;
  margin-inline: auto;
}

.sm-1 {
  right: 0;
}

.sm-2 {
  left: 0;
}

nav p {
  cursor: pointer;
}

.drop-down:hover .visiblity {
  display: block;
}

nav a {
  color: inherit;
}

nav a:hover,
nav p:hover {
  color: var(--AlmostBlack);
}
