.header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 4rem;

  margin-top: 1.5rem;
  position: relative;
}

.nav-desktop {
  display: none;
}

.nav-mobile {
  position: absolute;
  /* background-color: var(--AlmostWhite); */
  background-color: aquamarine;
  width: 80%;
  min-height: 100vh;
  top: -1.5rem;
  right: -1.5rem;
  padding: 1rem 1.5rem;
}

.nav-mobile {
  display: block;
}

.logo a {
  display: block;
  max-width: fit-content;
}

.menu-toggle {
  position: absolute;
  right: 0;
  background-image: url(../images/icon-menu.svg);
  background-repeat: no-repeat;
  height: 25px;
  width: 35px;
  cursor: pointer;
  z-index: 999;
}

.menu-toggle-cross {
  background-image: url(../images/icon-close-menu.svg);
}

.features,
.company {
  position: relative;
  padding-right: 10px;
}

.features::after,
.company::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: 5px;
  right: 0;
  background-image: url(../images/icon-arrow-down.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.userAction {
  text-align: center;
}

nav a {
  color: inherit;
  display: block;
}

nav a:hover,
nav p:hover {
  color: var(--AlmostBlack);
}

.reg {
  border: 2px solid var(--MediumGray);
  padding: 0.5rem 1.325rem;
  border-radius: 1rem;
}

.reg:hover {
  border-color: var(--AlmostBlack);
}

/* icons */
.icon {
  position: relative;
}

.icon::after {
  position: absolute;
  content: "";
  background-image: url(../images/icon-todo.svg);
  background-repeat: no-repeat;
  left: -28px;
  top: -2px;
  width: 20px;
  height: 20px;
}

.todo::after {
  background-image: url(../images/icon-todo.svg);
  top: -2px;
}

.cal::after {
  background-image: url(../images/icon-calendar.svg);
}

.reminder::after {
  background-image: url(../images/icon-reminders.svg);
}

.plan::after {
  background-image: url(../images/icon-planning.svg);
}

@media (min-width: 1024px) {
  .header {
    grid-template-columns: auto 1fr;
    margin-top: 3rem;
  }

  .menu-toggle,
  .nav-mobile {
    display: none;
  }

  .nav-desktop,
  .nav-desktop > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 2rem;
  }

  .features,
  .company {
    position: relative;
    padding-right: 15px;
  }

  .features::after,
  .company::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    top: 5px;
    right: 0;
    background-image: url(../images/icon-arrow-down.svg);
    background-repeat: no-repeat;
    cursor: pointer;
  }

  .features:hover p,
  .company:hover p {
    color: var(--AlmostBlack) !important;
  }

  .features:hover::after,
  .company:hover::after {
    background-image: url(../images/icon-arrow-up.svg);
  }

  .sm {
    position: absolute;
    display: none;
    padding-top: 1rem;
  }

  .bg {
    background-color: white;
    padding: 1rem 2rem 1.5rem;
    border-radius: 0.5rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .bg-company {
    padding: 1rem 1rem 1.5rem;
  }

  .bg > * {
    margin-top: 1rem;
    width: 11ch;
    padding-left: 1rem;
    margin-inline: auto;
  }

  .sm-1 {
    right: 0;
  }

  .sm-2 {
    left: 0;
  }

  nav p {
    cursor: pointer;
  }

  .drop-down:hover .visiblity {
    display: block;
  }

  .reg {
    border: 2px solid var(--MediumGray);
    padding: 0.5rem 1.325rem;
    border-radius: 1rem;
  }

  .reg:hover {
    border-color: var(--AlmostBlack);
  }

  /* icons */
  .icon {
    position: relative;
  }

  .icon::after {
    position: absolute;
    content: "";
    background-image: url(../images/icon-todo.svg);
    background-repeat: no-repeat;
    left: -28px;
    top: -2px;
    width: 20px;
    height: 20px;
  }

  .todo::after {
    background-image: url(../images/icon-todo.svg);
    top: -2px;
  }

  .cal::after {
    background-image: url(../images/icon-calendar.svg);
  }

  .reminder::after {
    background-image: url(../images/icon-reminders.svg);
  }

  .plan::after {
    background-image: url(../images/icon-planning.svg);
  }
}
